/target
**/*.rs.bk
/test-data/*.mips-o
/test-data/*.riscv-o
/test-data/*.x86_64-o
/test-data/*.powerpc-o
/test-data/perf.data
/test-data/perf.data.old
/test-data/*.html
/test-data/*/*.html
/test-data/flamegraph.svg
