[submodule "dataflow-analyzer/local-deps/radare2-r2pipe-api"]
	path = local-deps/radare2-r2pipe-api
	url = git@git.informatik.tu-cottbus.de:teci/rns/radare2-r2pipe-api.git
[submodule "local-deps/radare2-r2pipe-api"]
	url = https://github.com/CEatBTU/OpenRNSAnalyzer-radare2-r2papi.git
	path = local-deps/radare2-r2pipe-api
